*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.section{
    width: 100%;

}
.section .scontainer{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0;
}
.scontainer .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}
.scontainer .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #1aad3a;
} 
.scontainer .title h1::after{
    content:"";
    height:5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;

}
.image-section img{
    width: 100%;
    height: auto;

}
.content .article{
    color:#a3a3a3;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}
.content.article .button{
    margin-top: 50px;

}
.content.article .button button{
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;

}
.content.article .button button:hover{
    color: #1aad3a;
    background-color: #f28e92;
    transition: 1s ease;
}
.scontainer.social{
    width: 100%;
    clear:both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.scontainer.social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: f28f92;
}
.scontainer.social i:hover{
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}
@media screen and (max-width: 768px){
    .scontainer{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        margin-top: 50px;

    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .scontainer .title h1{
        text-align: center;
        font-size: 30px;
    }
    .scontainer .article .button{
        text-align: center;
    }
    .scontainer .article .button i{
        padding: 6px 15px;
        font-size: 16px;
    }
}